@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteLayout.cshtml";
}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		@Umbraco.Field("projectName", insertBefore: "&lt;h1&gt;", insertAfter: "&lt;/h1&gt;")
		@Umbraco.Field("projectDescription", insertBefore: "&lt;p&gt;", insertAfter: "&lt;/p&gt;")
	</div>
	<div class="col-md-2"></div>
</div>