<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT ArticleItem ANY>
<!ATTLIST ArticleItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT ProjectItem ANY>
<!ATTLIST ProjectItem id ID #REQUIRED>
<!ELEMENT Projectrequirement ANY>
<!ATTLIST Projectrequirement id ID #REQUIRED>
<!ELEMENT Projectrequirements ANY>
<!ATTLIST Projectrequirements id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT Simpilyforum ANY>
<!ATTLIST Simpilyforum id ID #REQUIRED>
<!ELEMENT SimpilyForumRoot ANY>
<!ATTLIST SimpilyForumRoot id ID #REQUIRED>
<!ELEMENT Simpilypost ANY>
<!ATTLIST Simpilypost id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1108" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-17T20:51:33" updateDate="2015-04-20T10:42:03" nodeName="Home Page" urlName="home-page" path="-1,1108" isDoc="" nodeType="1101" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1060" nodeTypeAlias="HomePage">
    <ArticlesMain id="1109" parentID="1108" level="2" creatorID="0" sortOrder="0" createDate="2015-04-17T20:51:51" updateDate="2015-04-17T20:51:51" nodeName="All the Articles" urlName="all-the-articles" path="-1,1108,1109" isDoc="" nodeType="1103" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="ArticlesMain">
      <ArticleItem id="1113" parentID="1109" level="3" creatorID="0" sortOrder="0" createDate="2015-04-17T20:54:23" updateDate="2015-04-20T11:05:05" nodeName="Article #01" urlName="article-01" path="-1,1108,1109,1113" isDoc="" nodeType="1102" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1077" nodeTypeAlias="ArticleItem">
        <headline><![CDATA[Smartphones kan lede efter kosmisk stråling]]></headline>
        <content><![CDATA[<p>Partikelfysik er normalt ikke det man forbinder med en smartphone, men med en ny app, der fortsat er i beta-stadiet, så er det muligt at indgå i et netværk, til detektering af stråling fra rummet.</p>
<p>Ved at udnytte CMOS-sensoren, der sidder i alle smartphones bag kameralinsen, så er det muligt at detektere resultatet af højenergi-stråling, der rammer Jordens atmosfære.</p>
<p>Idéen er udtænkt af en gruppe af astrofysikere fra University of California, der gerne vil registrere de kraftigste partikler, der rammer Jorden. For at kunne gøre dette, er det nødvendigt med et meget stort netværk af detektorer, og det er her smartphone-app'en kommer ind.</p>
<p>Projektet går under navnet CRAYFIS (Cosmic RAYs Found In Smartphones) og har allerede fået en række betatestere. Ønsker man at bidrage til forsøget, så kan det gøres på projektets <a href="http://crayfis.io/">hjemmeside</a>. Her kan man også <a href="http://crayfis.io/map">se</a>, at der fra Danmark har været leveret 13 timers eksponering.</p>
<p>Du kan se en video herunder, der forklarer nærmere om projektet.</p>]]></content>
      </ArticleItem>
      <ArticleItem id="1114" parentID="1109" level="3" creatorID="0" sortOrder="1" createDate="2015-04-17T20:54:56" updateDate="2015-04-20T11:05:11" nodeName="Article #02" urlName="article-02" path="-1,1108,1109,1114" isDoc="" nodeType="1102" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1077" nodeTypeAlias="ArticleItem">
        <headline><![CDATA[Næste Windowsopdatering efter Windows 10 bliver Redstone]]></headline>
        <content><![CDATA[<p>Windows 10 er sat til at komme til sommer, hvorfor funktionaliteten nu er blevet låst fast og der primært arbejdes på at rette fejl inden udgivelsen. Funktioner der ikke nåede at komme med i denne omgang, bliver udskudt til næste opdatering, der i følge flere kilder, har kodenavnet Redstone.</p>
<p>Navnet Redstone stammer fra det populære Minecraft, et spil Microsoft købte i forbindelse med overtagelsen af firmaet Mojang sidste år. Microsoft bruger allerede navne fra spil til andre produkter, hvor navnene til den personlige assistent Cortana, og Microsoft's nye browser Spartan kommer fra Halo.</p>
<p>Microsoft har før udtalt, at de med Windows 10 vil komme med hyppigere opdateringer til operativsystemet. Redstone <a href="http://www.neowin.net/news/windows-redstone-will-come-in-two-waves-june-and-october-2016">forventes at komme</a> i to tempi, med en første frigivelse i juni 2016 og en lidt senere i oktober samme år.</p>]]></content>
      </ArticleItem>
    </ArticlesMain>
    <ProjectsMain id="1110" parentID="1108" level="2" creatorID="0" sortOrder="1" createDate="2015-04-17T20:52:01" updateDate="2015-04-20T12:48:50" nodeName="All the Projects" urlName="all-the-projects" path="-1,1108,1110" isDoc="" nodeType="1105" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="ProjectsMain">
      <ProjectItem id="1115" parentID="1110" level="3" creatorID="0" sortOrder="0" createDate="2015-04-17T20:55:31" updateDate="2015-04-20T12:49:21" nodeName="Project #01" urlName="project-01" path="-1,1108,1110,1115" isDoc="" nodeType="1104" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1152" nodeTypeAlias="ProjectItem">
        <requirements><![CDATA[1116,1117]]></requirements>
        <projectName><![CDATA[Silver Morning]]></projectName>
        <projectDescription><![CDATA[<p><span>Bacon ipsum dolor amet cow porchetta capicola shankle short ribs. Spare ribs picanha salami ribeye shankle biltong. Sirloin andouille ham leberkas meatball. Alcatra tri-tip t-bone tenderloin turkey jerky pancetta. Pancetta salami landjaeger, filet mignon shoulder beef short loin picanha chuck sausage.</span></p>]]></projectDescription>
        <projectStatus>25</projectStatus>
      </ProjectItem>
      <ProjectItem id="1119" parentID="1110" level="3" creatorID="0" sortOrder="1" createDate="2015-04-17T20:59:47" updateDate="2015-04-20T12:48:50" nodeName="Project #02" urlName="project-02" path="-1,1108,1110,1119" isDoc="" nodeType="1104" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1152" nodeTypeAlias="ProjectItem">
        <requirements><![CDATA[1118]]></requirements>
        <projectName><![CDATA[Megaproject]]></projectName>
        <projectDescription><![CDATA[<p>yadda yadda</p>]]></projectDescription>
        <projectStatus>24</projectStatus>
      </ProjectItem>
    </ProjectsMain>
    <TextPage id="1154" parentID="1108" level="2" creatorID="0" sortOrder="2" createDate="2015-04-21T12:19:48" updateDate="2015-04-21T12:56:00" nodeName="Member List" urlName="member-list" path="-1,1108,1154" isDoc="" nodeType="1106" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1153" nodeTypeAlias="TextPage">
      <headline><![CDATA[This is the member list]]></headline>
      <umbracoNaviHide>0</umbracoNaviHide>
    </TextPage>
    <TextPage id="1131" parentID="1108" level="2" creatorID="2" sortOrder="3" createDate="2015-04-19T16:12:36" updateDate="2015-04-21T12:56:00" nodeName="Login" urlName="login" path="-1,1108,1131" isDoc="" nodeType="1106" creatorName="Thomsen" writerName="Brian Andersen" writerID="0" template="1130" nodeTypeAlias="TextPage">
      <headline><![CDATA[Login NOW!!]]></headline>
    </TextPage>
    <TextPage id="1132" parentID="1108" level="2" creatorID="2" sortOrder="4" createDate="2015-04-19T16:13:11" updateDate="2015-04-21T12:56:00" nodeName="Error page" urlName="error-page" path="-1,1108,1132" isDoc="" nodeType="1106" creatorName="Thomsen" writerName="Brian Andersen" writerID="0" template="1096" nodeTypeAlias="TextPage">
      <headline><![CDATA[Error page.]]></headline>
      <content><![CDATA[<p>Error:</p>
<p>You must be a member of the forum.</p>]]></content>
      <umbracoNaviHide>1</umbracoNaviHide>
    </TextPage>
    <Simpilyforum id="1143" parentID="1108" level="2" creatorID="0" sortOrder="5" createDate="2015-04-20T10:18:53" updateDate="2015-04-21T12:56:00" nodeName="Forum" urlName="forum" path="-1,1108,1143" isDoc="" nodeType="1140" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1137" nodeTypeAlias="Simpilyforum">
      <Simpilyforum id="1144" parentID="1143" level="3" creatorID="0" sortOrder="1" createDate="2015-04-20T10:18:53" updateDate="2015-04-20T10:28:10" nodeName="Child Forum" urlName="child-forum" path="-1,1108,1143,1144" isDoc="" nodeType="1140" creatorName="Brian Andersen" writerName="Thomsen" writerID="2" template="1137" nodeTypeAlias="Simpilyforum">
        <Simpilypost id="1145" parentID="1144" level="4" creatorID="0" sortOrder="1" createDate="2015-04-20T10:18:53" updateDate="2015-04-20T10:23:39" nodeName="How It works" urlName="how-it-works" path="-1,1108,1143,1144,1145" isDoc="" nodeType="1141" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1138" nodeTypeAlias="Simpilypost">
          <umbracoNaviHide>0</umbracoNaviHide>
          <postTitle><![CDATA[How it works.]]></postTitle>
          <postBody><![CDATA[<p>This is a post in a simply forum, Usually posts are created by members of the site, but this one was entered via the umbraco back end.</p>
<p>You will need to have some form of membership authentication working for people to be able to post to your forums, and you can then restrict forums by permissions in umbraco, and by the who can post setting on each forum.</p>
<ul>
<li>Posts are ordered by date, and you can make posts sticky in the back end by setting the Stickyness value, the higher the stickier </li>
<li>Posts are stored in umbraco as content nodes, so you can go in and see what's happening.</li>
<li>Posts are created by the SurfaceController, which will check permissions and fires of events before and after a post is created, so if you want to get clever you can add extra checks to the posts (for things like spam checking)</li>
<li>To speed things up a bit, their is a Cache Helper which works out the latest post and post count, and is refreshed for a forum and it's parent forums when a post is published.</li>
</ul>
<p> </p>
<p>Simplily Forums is written to be super simple and extendible, so all the code is there in app_code and you can tweak until your happy and the views sit in PartialViews\SimpilyForums (you can even see this folder inside umbraco 7.2.x).</p>]]></postBody>
          <postCreator><![CDATA[Kevin Jump]]></postCreator>
          <allowReplies>1</allowReplies>
          <deletedByAuthor>0</deletedByAuthor>
          <stickyness><![CDATA[100]]></stickyness>
        </Simpilypost>
        <umbracoNaviHide>0</umbracoNaviHide>
        <forumName><![CDATA[Test Subject]]></forumName>
        <forumIntro><![CDATA[<p>This is a child forum, it works like a category, you can go as deep as you want. only when Post at this level is set can posts be created under a forum.</p>]]></forumIntro>
        <forumActive>1</forumActive>
        <postAtRoot>1</postAtRoot>
      </Simpilyforum>
      <umbracoNaviHide>0</umbracoNaviHide>
      <forumName><![CDATA[Forum]]></forumName>
      <forumIntro><![CDATA[<p>This is the sample simpily forum, you can put the forums anywhere you want on the site.</p>]]></forumIntro>
      <forumActive>1</forumActive>
      <postAtRoot>0</postAtRoot>
    </Simpilyforum>
    <headline><![CDATA[Aarhus Developers Coop]]></headline>
    <content><![CDATA[<p>Welcome to the coop</p>]]></content>
    <TextPage id="1111" parentID="1108" level="2" creatorID="0" sortOrder="6" createDate="2015-04-17T20:52:32" updateDate="2015-04-21T12:56:00" nodeName="About" urlName="about" path="-1,1108,1111" isDoc="" nodeType="1106" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1096" nodeTypeAlias="TextPage">
      <headline><![CDATA[About Us]]></headline>
      <content><![CDATA[<p>Page about us</p>]]></content>
    </TextPage>
    <ContactPage id="1124" parentID="1108" level="2" creatorID="0" sortOrder="7" createDate="2015-04-17T21:51:42" updateDate="2015-04-21T12:56:00" nodeName="Contact Page" urlName="contact-page" path="-1,1108,1124" isDoc="" nodeType="1123" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1122" nodeTypeAlias="ContactPage" />
  </HomePage>
  <Projectrequirements id="1087" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-04-15T16:24:54" updateDate="2015-04-15T16:25:00" nodeName="Project requirements" urlName="project-requirements" path="-1,1087" isDoc="" nodeType="1086" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirements">
    <Projectrequirement id="1116" parentID="1087" level="2" creatorID="0" sortOrder="0" createDate="2015-04-17T20:56:16" updateDate="2015-04-17T20:57:27" nodeName="CSS" urlName="css" path="-1,1087,1116" isDoc="" nodeType="1107" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[Cascading Style Sheets]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1117" parentID="1087" level="2" creatorID="0" sortOrder="1" createDate="2015-04-17T20:56:31" updateDate="2015-04-17T20:56:31" nodeName="JS" urlName="js" path="-1,1087,1117" isDoc="" nodeType="1107" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[JavaScript]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1118" parentID="1087" level="2" creatorID="0" sortOrder="2" createDate="2015-04-17T20:57:18" updateDate="2015-04-17T20:57:23" nodeName="PSD" urlName="psd" path="-1,1087,1118" isDoc="" nodeType="1107" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[PhotoShop]]></requirementDesc>
    </Projectrequirement>
  </Projectrequirements>
</root>