<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT ArticleItem ANY>
<!ATTLIST ArticleItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT ProjectItem ANY>
<!ATTLIST ProjectItem id ID #REQUIRED>
<!ELEMENT Projectrequirement ANY>
<!ATTLIST Projectrequirement id ID #REQUIRED>
<!ELEMENT Projectrequirements ANY>
<!ATTLIST Projectrequirements id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <Projectrequirements id="1087" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-04-15T16:24:54" updateDate="2015-04-15T16:25:00" nodeName="Project requirements" urlName="project-requirements" path="-1,1087" isDoc="" nodeType="1086" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirements">
    <Projectrequirement id="1117" parentID="1087" level="2" creatorID="0" sortOrder="1" createDate="2015-04-17T20:56:31" updateDate="2015-04-17T20:56:31" nodeName="JS" urlName="js" path="-1,1087,1117" isDoc="" nodeType="1107" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[JavaScript]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1118" parentID="1087" level="2" creatorID="0" sortOrder="2" createDate="2015-04-17T20:57:18" updateDate="2015-04-17T20:57:23" nodeName="PSD" urlName="psd" path="-1,1087,1118" isDoc="" nodeType="1107" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[PhotoShop]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1116" parentID="1087" level="2" creatorID="0" sortOrder="0" createDate="2015-04-17T20:56:16" updateDate="2015-04-17T20:57:27" nodeName="CSS" urlName="css" path="-1,1087,1116" isDoc="" nodeType="1107" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[Cascading Style Sheets]]></requirementDesc>
    </Projectrequirement>
  </Projectrequirements>
  <HomePage id="1108" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-17T20:51:33" updateDate="2015-04-17T21:07:56" nodeName="Home Page" urlName="home-page" path="-1,1108" isDoc="" nodeType="1101" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1060" nodeTypeAlias="HomePage">
    <ArticlesMain id="1109" parentID="1108" level="2" creatorID="0" sortOrder="0" createDate="2015-04-17T20:51:51" updateDate="2015-04-17T20:51:51" nodeName="All the Articles" urlName="all-the-articles" path="-1,1108,1109" isDoc="" nodeType="1103" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="ArticlesMain">
      <ArticleItem id="1113" parentID="1109" level="3" creatorID="0" sortOrder="0" createDate="2015-04-17T20:54:23" updateDate="2015-04-17T20:54:23" nodeName="Article #01" urlName="article-01" path="-1,1108,1109,1113" isDoc="" nodeType="1102" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="ArticleItem">
        <headline><![CDATA[Smartphones kan lede efter kosmisk stråling]]></headline>
        <content><![CDATA[<p>Partikelfysik er normalt ikke det man forbinder med en smartphone, men med en ny app, der fortsat er i beta-stadiet, så er det muligt at indgå i et netværk, til detektering af stråling fra rummet.</p>
<p>Ved at udnytte CMOS-sensoren, der sidder i alle smartphones bag kameralinsen, så er det muligt at detektere resultatet af højenergi-stråling, der rammer Jordens atmosfære.</p>
<p>Idéen er udtænkt af en gruppe af astrofysikere fra University of California, der gerne vil registrere de kraftigste partikler, der rammer Jorden. For at kunne gøre dette, er det nødvendigt med et meget stort netværk af detektorer, og det er her smartphone-app'en kommer ind.</p>
<p>Projektet går under navnet CRAYFIS (Cosmic RAYs Found In Smartphones) og har allerede fået en række betatestere. Ønsker man at bidrage til forsøget, så kan det gøres på projektets <a href="http://crayfis.io/">hjemmeside</a>. Her kan man også <a href="http://crayfis.io/map">se</a>, at der fra Danmark har været leveret 13 timers eksponering.</p>
<p>Du kan se en video herunder, der forklarer nærmere om projektet.</p>]]></content>
      </ArticleItem>
      <ArticleItem id="1114" parentID="1109" level="3" creatorID="0" sortOrder="1" createDate="2015-04-17T20:54:56" updateDate="2015-04-17T20:54:56" nodeName="Article #02" urlName="article-02" path="-1,1108,1109,1114" isDoc="" nodeType="1102" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="ArticleItem">
        <headline><![CDATA[Næste Windowsopdatering efter Windows 10 bliver Redstone]]></headline>
        <content><![CDATA[<p>Windows 10 er sat til at komme til sommer, hvorfor funktionaliteten nu er blevet låst fast og der primært arbejdes på at rette fejl inden udgivelsen. Funktioner der ikke nåede at komme med i denne omgang, bliver udskudt til næste opdatering, der i følge flere kilder, har kodenavnet Redstone.</p>
<p>Navnet Redstone stammer fra det populære Minecraft, et spil Microsoft købte i forbindelse med overtagelsen af firmaet Mojang sidste år. Microsoft bruger allerede navne fra spil til andre produkter, hvor navnene til den personlige assistent Cortana, og Microsoft's nye browser Spartan kommer fra Halo.</p>
<p>Microsoft har før udtalt, at de med Windows 10 vil komme med hyppigere opdateringer til operativsystemet. Redstone <a href="http://www.neowin.net/news/windows-redstone-will-come-in-two-waves-june-and-october-2016">forventes at komme</a> i to tempi, med en første frigivelse i juni 2016 og en lidt senere i oktober samme år.</p>]]></content>
      </ArticleItem>
    </ArticlesMain>
    <ProjectsMain id="1110" parentID="1108" level="2" creatorID="0" sortOrder="1" createDate="2015-04-17T20:52:01" updateDate="2015-04-17T20:55:38" nodeName="All the Projects" urlName="all-the-projects" path="-1,1108,1110" isDoc="" nodeType="1105" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="ProjectsMain">
      <ProjectItem id="1115" parentID="1110" level="3" creatorID="0" sortOrder="0" createDate="2015-04-17T20:55:31" updateDate="2015-04-17T21:00:42" nodeName="Project #01" urlName="project-01" path="-1,1108,1110,1115" isDoc="" nodeType="1104" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="ProjectItem">
        <requirements><![CDATA[1116,1117]]></requirements>
        <projectName><![CDATA[Silver Morning]]></projectName>
        <projectDescription><![CDATA[<p><span>Bacon ipsum dolor amet cow porchetta capicola shankle short ribs. Spare ribs picanha salami ribeye shankle biltong. Sirloin andouille ham leberkas meatball. Alcatra tri-tip t-bone tenderloin turkey jerky pancetta. Pancetta salami landjaeger, filet mignon shoulder beef short loin picanha chuck sausage.</span></p>]]></projectDescription>
      </ProjectItem>
      <ProjectItem id="1119" parentID="1110" level="3" creatorID="0" sortOrder="1" createDate="2015-04-17T20:59:47" updateDate="2015-04-17T20:59:47" nodeName="Project #02" urlName="project-02" path="-1,1108,1110,1119" isDoc="" nodeType="1104" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="ProjectItem">
        <requirements><![CDATA[1118]]></requirements>
        <projectName><![CDATA[Megaproject]]></projectName>
        <projectDescription><![CDATA[<p>yadda yadda</p>]]></projectDescription>
      </ProjectItem>
    </ProjectsMain>
    <TextPage id="1111" parentID="1108" level="2" creatorID="0" sortOrder="2" createDate="2015-04-17T20:52:32" updateDate="2015-04-17T21:11:05" nodeName="About" urlName="about" path="-1,1108,1111" isDoc="" nodeType="1106" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1096" nodeTypeAlias="TextPage">
      <headline><![CDATA[About Us]]></headline>
      <content><![CDATA[<p>Page about us</p>]]></content>
    </TextPage>
    <TextPage id="1112" parentID="1108" level="2" creatorID="0" sortOrder="3" createDate="2015-04-17T20:52:47" updateDate="2015-04-17T21:21:16" nodeName="Contact" urlName="contact" path="-1,1108,1112" isDoc="" nodeType="1106" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1096" nodeTypeAlias="TextPage">
      <headline><![CDATA[Contact Us]]></headline>
    </TextPage>
    <headline><![CDATA[Aarhus Developers Coop]]></headline>
    <document><![CDATA[<p>Welcome to the coop</p>]]></document>
  </HomePage>
</root>